@{
    ViewBag.Title = "Home Page";
}

<div id="welcome">
    <div id="welcomeTitle" class="panel-title">
        <h1>Welcome to the NEMESIS project</h1>
    </div>
    <div id="welcomeBody" class="panel-body">
        <p>This is a simple federated ecommerce site linking users to local convenience stores where they can order products.</p>
        <p>An Uber-like network of delivery drivers is then used to deliver the goods to end-users.</p>
    </div>
    <div id="welcomeSearch" class="panel-default">
        @using (Html.BeginForm("Welcome", "Home", FormMethod.Post, new { id = "form1" }))
        {
            <p>Search store by postcode district: @Html.TextBox("SearchByPostcodeDistrict") <input type="submit" value="Search" /></p>
        }
        <p>@Html.ActionLink("View all stores", "List", "Store")</p>
        <p>@Html.ActionLink("Create a store", "Create", "Store")</p>
    </div>
</div>